---
import type { SeoData } from '@/ts/type.ts';

const { title, description, image, url, keywords } = Astro.props as SeoData;
const fullTitle = `${title} | insdash | Zürich`;
const ogImage = image ?? './images/logo/insdash_dark.png';

const keywordString = Array.isArray(keywords)
  ? keywords.join(', ')
  : (keywords ?? '');

const baseUrl = import.meta.env.SITE || 'https://insdash.github.io';
const pageUrl = url ?? Astro.url.pathname;

// Check if pageUrl already starts with http
const canonicalUrl = pageUrl.startsWith('http')
  ? pageUrl
  : `${baseUrl}${pageUrl.startsWith('/') ? pageUrl : `/${pageUrl}`}`;
  
---

<title>{fullTitle}</title>
<meta property="og:image" content={ogImage} />
<meta property="og:url" content={canonicalUrl} />
{description && <meta name="description" content={description} />}
{keywordString && <meta name="keywords" content={keywordString} />}
{url && <link rel="canonical" href={canonicalUrl} />}

<!-- Open Graph / Social Preview -->
<meta property="og:title" content={fullTitle} />
{url && <meta property="og:url" content={url} />}
<meta property="og:type" content="website" />
{description && <meta property="og:description" content={description} />}
{image && <meta property="og:image" content={image} />}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
{description && <meta name="twitter:description" content={description} />}
{image && <meta name="twitter:image" content={image} />}
