---
import { getCollection } from 'astro:content';
import type { ProjectMeta } from '@/ts/project';
import ProjectCard from '@/components/grids/ProjectCard.astro';
import Button from '@/components/UI/Button.astro';

const projects = await getCollection('projects');
projects.sort((a, b) => a.data.order - b.data.order);

---

<div class="gridLayout" id="projects-grid">
  {projects.map((project, index) => (
    <div class={`project-item ${index < 2 ? '' : 'hidden'}`} id={`project-${index}`}>
      <ProjectCard
        projectMeta={{ ...project.data, slug: project.slug } as ProjectMeta} 
      />
    </div>
  ))}


  <!-- {
    projects.length > 0 ? (
      projects.map((project) => (
        <ProjectCard
          projectMeta={{
            ...project.data,
            slug: project.slug,
          }}
        />
      ))
    ) : (
      <p>No projects found.</p>
    )
  } -->

  <!-- {
    projects.length > 0 ? (
      projects.map((project) => (
        <p>{project.data.order} {project.data.category}: <a href={`${baseUrl}projects/${project.slug}`}>{project.data.title}</a></p>
 
      ))
    ) : (
      <p>No projects found.</p>
    )
  } -->

</div>

<div class="moreButton">
  <div class="flex justify-end">
    {projects.length > 3 && (
      <Button
        id="load-more-button"
        label="Load more projects..."
        variant="outline"
        color="primary"
        size="md"
      />
    )}
  </div>
</div>

<script is:inline>
  const btn = document.getElementById("load-more-button");
  if (btn) {
    btn.addEventListener("click", () => {
      const items = document.querySelectorAll(".project-item.hidden");
      const toShow = Array.from(items).slice(0, 3); // show 3 more
      toShow.forEach((item) => item.classList.remove("hidden"));

      // hide button if all items are now visible
      if (document.querySelectorAll(".project-item.hidden").length === 0) {
        btn.style.display = "none";
      }
    });
  }
</script>


<style>
  @reference "@/styles/global.css";
  .gridLayout {
    @apply p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4;
  }
  .moreButton {
    @apply px-[2.5rem] my-[2rem] mx-auto max-w-[80rem];
  }

  .project-item {
    @apply grid flex-col;
  }

  .project-item.hidden {
    display: none;
  }

</style>
